body {
    background-color:grey !important;
}

#nav, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav li {
	float: left;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: transparent #25b #25b #9ce;
}
#nav a:link, ul a:visited {
	text-decoration: none;
	display: block;
	width: 200px;
	text-align: center;
	padding: 5px 0;
	font-weight: bold;
	background-color: #1c1c1c;
	color: #def;
	border-top: 10px solid #000000;
}

#nav a:hover {
	background-color: #474747;
	color: #fff;
	border-top: 20px solid #2a2a2a;
}

h1 {
    text-align: center;
}

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button {
    border:4px solid;
    border-radius:5px;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}

#container {
    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #1E90FF;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}